.home{
    position: relative;

}
.hero{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: liner-gradient(to right, transparent, black 75%);
   /* 
  The CSS properties mask-image: linear-gradient(to right, transparent, black 75%); 
  and -webkit-mask-image: linear-gradient(to right, transparent, black 75%); create a horizontal fade effect on an element.
  The content will be transparent on the left and gradually fade in to become fully opaque on the right

   "Here is a breakdown of what the code means:
mask-image: This is the standard CSS property for applying a mask to an element. A mask uses an image, SVG, or a gradient to define the visibility of an element.
-webkit-mask-image: This is a vendor-specific prefix that was used for older versions of browsers built 
on the WebKit engine (e.g., Safari, and older versions of Chrome).
 It is included for wider browser compatibility.
linear-gradient(to right, ...): This creates a linear gradient that moves horizontally from left to right.
transparent: This is the starting color of the gradient on the far left.
The transparent color indicates that the element's content should be completely hidden (masked).
black 75%: This is the ending color of the gradient. 
In CSS masking, black signifies that the element's content should be fully visible (opaque).
The 75% value means the transition from transparent to black is complete at the 75% mark, 
leaving the remaining 25% on the right side of the element fully visible. 

What happens to the content:-

From the left edge to the 75% mark, the content will gradually fade in.
The first portion of the element will be invisible.
At the 75% point and beyond, the content will be completely visible.
" */
}

.hero-caption{
position:absolute;
width: 100%;
padding-left: 6%;
bottom:0;
}

.caption-img{
    width:90%;
    max-width:420px;
    margin-bottom: 30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;   
}

.hero-btns{
    display:flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img{
    width:25px;
}

.hero-btns .btn{
    border:0;
    outline:0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background:white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover{
    background: #ffffffbf;    
}

.hero-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}

.more-cards{
    padding-left: 6%;
    margin-top: 30px;
}

@media (max-width: 1024px){

    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns .hero-btns{
        margin-bottom: 30px;
    }
}

@media (max-width: 800px){

    .hero-caption{
        padding-left: 4%;
    }

    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .hero-btns .btn img{
        width: 20px;
    }

    .more-cards{
        padding-left: 4%;
    }
}

@media (max-width: 500px){

    .caption-img{
        display: none;
    }
    .hero-btns .btn img{
        width: 15px;
    }
    .hero-btns .btn{
        padding: 4px 10px;
        gap:5px;
        font-size: 10px;
    }
}

